{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="columns">
        <br>
        <br>
    </div>
    <div class="columns">
       <div class="column is-one-forth">
        <label class="label">Артикул</label>
      </div>
      <div class="column is-one-fifth">
        <label class="label">Принадлежность к одной модели</label>
      </div>
      <div class="column is-one-fifth">
        <label class="label">Количество товаров</label>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-forth">
          <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" placeholder="число артикулов">
              </div>
            <div class="control">
                <a class="button is-primary">
                    Подобрать
                </a>
            </div>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="select is-primary">
          <select>
            <option>Та же модель адео</option>
            <option>Любая модель адео</option>
          </select>
        </div>
      </div>
      <div class="column is-one-fifth">
        <input class="input" type="text" placeholder="введите число">
      </div>
      <div class="column">
      </div>
    </div>
</div>

{% endblock %}